html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 100%;
  line-height: 24px;
  font-family: Georgia;
  background-color: #f5f5f5;
  background-size: cover !important;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
.main-focus {
  text-align: center;
  margin-top: 70px;
  color: #fff;
}
.focus-q {
  font-size: 2em;
  margin-bottom: 15px;
}

.focus-field {
  font-size: 2em;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.yourfocus {
  font-size: 1.7em;
  padding-bottom: 40px;
}
.yourfocus .today {
  margin-bottom: 15px;
}
.close, .plus {
  font-size: 0.5em;
  cursor: pointer;
    vertical-align: middle;
}
.close i, .plus i {
  width: 28px;
  height: 28px;
  padding: 7px 9px;
  border-radius: 100%;
  border: 2px solid transparent;
  transition: all 0.3s;


}
.close i:hover,
 .plus i:hover{
  border: 2px solid #fff;
}

.switchOnHover {
  opacity: 0;
}
.yourfocus_panel{
  line-height: 28px;
}
.yourfocus_panel .goaltext {
  margin: 0 4px 0 14px;
}
.yourfocus_panel label {
  position: relative;
  cursor: pointer;
}
#check {
  display: none;
}
#check:checked ~ label::before {
    width: 21px;
    height: 10px;
    border-width: 5px;
    border-color: #fff;
    border-top-style: none;
    border-right-style: none;
    transform: rotate(-45deg);
}
.yourfocus_panel label::before {
  position: absolute;
  top: 8px;
  left: -25px;
  z-index: 1;
  width: 16px;
  height: 16px;
  content: '';
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
}
.focus-status {
  font-size: 0.5em;
}
/*
--------------------------
feature/search
--------------------------
*/
@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700);
.search-box {
  float: left;
  margin-left: 30px;
}
.search-glass {
  color: white;
  opacity: 0.8;
  font-family: Arial, "FontAwesome";
}

.search-glass i:before {
   content: "\f002";
}

.search {
  /*Add invisible border in order to make it stable on focus---Changed it because without transparent border it moves content on focus*/
  border-bottom: 2px solid transparent;
  color: white;
}

#searchBox {
  width: 150px;
  background-color: transparent;
  color: white;
  border-color: transparent;
}
/*
--------------------------
end feature/search
--------------------------
*/
