html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  opacity: 0;
  transition: opacity 1s;
  height: 100%;
  font-size: 100%;
  line-height: 24px;
  font-family: Georgia;
  background-color: #f5f5f5;
  background: #567;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.location {
  clear: both;
  padding: 0 2px;
  margin: 0 auto;
  font-size: 0.6em;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  line-height: 1.6em;
}

.location:focus {
  outline: 1px solid #666;
  background: rgba(213, 213, 213, 0.2);
}

.animation {
  animation: fade 2s;
}

@keyframes fade {
  0% {
    background: rgba(213, 213, 213, 0.9);
  }
  100% {
    background: rgba(213, 213, 213, 0.2);
  }
}

.location, .display {
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.display {
display: inline-block;
width: 50px;
user-select: none;
 -webkit-user-select: none;
}
.sign {
  margin-left: 3px;
  color: #fff;
}

.sign:hover {
  opacity: 0.5;
  cursor: pointer;
}

.weatherImg {
  display: inline-block;
  margin: auto;
  width: 26px;
  margin-bottom: -5px;
}
.weather-block {
  float: right;
}
.weather-inner-block {
  text-align: right;
  margin-right: 15px;
}
